html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.emergency-window {
  position: absolute;
  width: 88%;
  max-width: 600px;
  height: auto;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.95); /* Semi-transparent background */
  border-radius: 35px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: center;
}

.cancel-button {
  position: absolute;
  top: 5px; /* Adjust as needed for spacing from top */
  right: 0px; /* Adjust as needed for spacing from right */
  background: none;
  border: none;
  cursor: pointer;
  color: black; /* Ensure text and icon color is black */
}

.responsive-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 768px) {
  .welcome-message {
    width: 90%;
    padding: 10px;
  }
}

.type-row,
.place-row,
.group-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.type,
.place,
.group {
  background: #edecec;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.type,
.place,
.group :hover {
  cursor: pointer;
  scale: 1.02;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .welcome-message {
    width: 90%;
    padding: 10px;
  }

  .type-row,
  .group-row,
  .place-row {
    grid-template-columns: 1fr 1fr;
    gap: 9px;
    margin: 7px;
  }

  .type,
  .group,
  .place {
    padding: 10px;
    align-items: center;
  }
}

.type-title {
  width: 60%;
  font-weight: 600;
}

.place-title {
  width: 65%;
  font-weight: 600;
}
.group-title {
  width: 80%;
  font-weight: 600;
}

.type.selected,
.group.selected,
.place.selected {
  background-color: rgb(16, 16, 98);
  color: white; /* Change text color for better contrast */
}

.groups {
  margin-bottom: 82px;
}

.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cancel-button:hover {
  scale: 1.1;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px; /* Adjust as needed */
  gap: 20px;
}

.side-button {
  flex: 0 0 auto; /* Allow shrinking and no growing */
  border: 1px solid #d8d6d6;
  border-radius: 500px;
  padding: 20px 20px 17px 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black; /* Ensure text and icon color is black */
}

.center-button {
  flex: 1; /* Take remaining space */
  background: #0653d7;
  border: none;
  padding: 15px 0; /* Adjust padding as needed */
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px; /* Increase font size for better visibility */
  color: white; /* Ensure text color is black */
}

.center-button:hover {
  background-color: #1163f0;
}

.center-button.disabled {
  background: #cccccc; /* Gray background for disabled state */
  cursor: not-allowed; /* Indicate disabled state */
}

.urgency-level {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 92px;
  padding: 30px 8px 6px 8px;
}

.urgency-step {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 27px;
}

.urgency-step .line {
  width: 2px;
  height: 100%;
  background: #cecdcd;
}

.urgency-step.selected .line.green {
  height: 420%; /* Adjust as needed */
  background: rgb(115, 219, 68); /* Green for selected steps 0-8 */
}

.urgency-step.selected .line.yellow {
  height: 420%; /* Adjust as needed */
  background: rgb(226, 192, 53); /* Yellow for selected steps 9-16 */
}

.urgency-step.selected .line.red {
  height: 420%; /* Adjust as needed */
  background: red; /* Red for selected steps 17-20 */
}
