html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.emergency-window {
  position: absolute;
  width: 88%;
  max-width: 600px;
  height: auto;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.95); /* Semi-transparent background */
  border-radius: 35px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: center;
}

.cancel-button {
  position: absolute;
  top: 5px; /* Adjust as needed for spacing from top */
  right: 0px; /* Adjust as needed for spacing from right */
  background: none;
  border: none;
  cursor: pointer;
  color: black; /* Ensure text and icon color is black */
}

.responsive-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* @media (max-width: 768px) {
  .welcome-message {
    width: 90%;
    padding: 10px;
  }
} */

.type-row,
.place-row,
.group-row,
.symptom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.activityAffect-row,
.help-row {
  margin: 10px;
}

.type,
.place,
.group,
.symptom {
  background: #edecec;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.activityAffect,
.help {
  background: #edecec;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type,
.place,
.group,
.symptom,
.activityAffect :hover {
  cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .welcome-message {
    width: 90%;
    padding: 10px;
  }

  .type-row,
  .group-row,
  .place-row,
  .symptom-row {
    grid-template-columns: 1fr 1fr;
    gap: 9px;
    margin: 7px;
  }

  .activityAffect-row,
  .help-row {
    margin: 8px;
  }

  .type,
  .group,
  .place,
  .symptom {
    padding: 10px;
    align-items: center;
  }
  .activityAffect,
  .help {
    padding: 16px;
  }
}

.type-title,
.symptom-title,
.activityAffect-title,
.help-title {
  width: 60%;
  font-weight: 600;
}

.place-title {
  width: 65%;
  font-weight: 600;
}
.group-title,
.symptom-title {
  width: 80%;
  font-weight: 600;
}

.type.selected,
.group.selected,
.place.selected,
.symptom.selected,
.activityAffect.selected,
.help.selected {
  background-color: #021056;
  color: white; /* Change text color for better contrast */
}

.groups,
.symptoms {
  margin-bottom: 65px;
}

.activityAffects,
.helps {
  margin-bottom: 35px;
}

.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cancel-button:hover {
  scale: 1.1;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px; /* Adjust as needed */
  gap: 20px;
}

.side-button {
  flex: 0 0 auto; /* Allow shrinking and no growing */
  border: 1.3px solid #d8d6d6;
  border-radius: 500px;
  padding: 20px 20px 17px 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black; /* Ensure text and icon color is black */
}

.center-button {
  flex: 1; /* Take remaining space */
  background: #3c4ef3;
  border: none;
  padding: 15px 0; /* Adjust padding as needed */
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px; /* Increase font size for better visibility */
  color: white; /* Ensure text color is black */
}

.center-button.disabled {
  background: #cccccc; /* Gray background for disabled state */
  cursor: not-allowed; /* Indicate disabled state */
}

.urgency-level {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 92px;
  padding: 30px 8px 6px 8px;
}

.urgency-step {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 22px;
}

.urgency-step .line {
  width: 3px;
  height: 100%;
  background: #cecdcd;
}

.urgency-step.selected .line.green {
  height: 117px; /* Adjust as needed */
  background: #5fd800; /* Green for selected steps 0-8 */
}

.urgency-step.selected .line.yellow {
  height: 117px; /* Adjust as needed */
  background: #eccd2b; /* Yellow for selected steps 9-16 */
}

.urgency-step.selected .line.red {
  height: 117px; /* Adjust as needed */
  background: #f43e15; /* Red for selected steps 17-20 */
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all child elements horizontally */
  height: 25vh; /* or any other fixed height */
  overflow-y: auto;
  box-shadow: 10px 10px 100px 10px rgba(197, 194, 194, 0.125);
  padding-top: 10px;
}

.summary-block {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin-bottom: 12px;
}

.summary-block-location {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin-bottom: 0px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the start (left) */
}

.summary-title {
  text-align: left; /* Align text to the left */
  font-weight: 600;
  font-size: 14px;
}

.summary-content {
  text-align: left; /* Align text to the left */
  font-weight: 600;
  font-size: 21px;
}

.edit {
  align-self: center;
  background-color: transparent;
}

.edit .responsive-iframe {
  width: 140px; /* Adjust width as needed */
  height: 90px; /* Adjust height as needed */
  border: 0;
  margin-left: 10px; /* Space between icon and iframe */
  border-radius: 15px;
  border: 1px solid #cccccc;
}

.calmDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  width: 236px;
  height: 93px;
  margin: auto; /* Center vertically */
  gap: 2px;
  margin-top: 110px;
  margin-bottom: 100px;
}

.calmDown-message {
  font-weight: 700;
  font-size: 26px;
  line-height: 35.53px;
  align-self: center;
}
